.contact-us {
  margin: 3rem 0 0;
  text-align: center;
  padding: 10rem 0;
  background: $Bright-Red;
  color: $Very-Light-Gray;

  h2 {
    font-size: 4rem;
    line-height: 1.2;
    color: $Very-Light-Gray;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .contact-us div {
    display: flex;
    align-items: center;
    text-align: left;
  }

  h2 {
    flex: 1;
  }

  .contact_us_btn {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
