header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;

  .logo {
    display: flex;
    align-self: center;
  }

  nav {
    display: none;
  }

  .hamburger {
    .hamburger-menu {
      display: none;
    }
    .show-nav {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    .logo {
      flex: 1;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 2;

      .nav_links {
        display: flex;
        justify-content: space-between;

        li:not(:last-child) {
          margin-right: 3rem;
        }
      }

      .nav_links li:hover {
        opacity: 0.3;
      }
    }
    .hamburger {
      display: none;
    }
  }
}
