header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  overflow: hidden;
  .logo {
    display: flex;
    align-self: center;
    height: 2rem;
    flex: 1;
    z-index: 1;
  }

  nav {
    display: none;
  }

  nav.show-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    inset: 0;
    top: 15%;
    background: #fff;
    height: 50vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    border-radius: 5px;

    li {
      font-weight: 700;
      font-size: 1.6rem;
    }

    li:not(:last-child) {
      margin-bottom: 1.8rem;
    }

    button {
      display: none;
    }
  }

  .hamburger {
    z-index: 10;
    cursor: pointer;
    .hamburger-menu {
      display: none;
    }
    .show-nav {
      display: block;
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background: #737373;
    opacity: 0.5;
    z-index: -1;
    display: none;
  }

  .overlay.display-overlay {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  header {
    .logo {
      flex: 1;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 2;

      .nav_links {
        display: flex;
        justify-content: space-between;

        li:not(:last-child) {
          margin-right: 3rem;
        }
      }

      .nav_links li:hover {
        opacity: 0.3;
      }
    }
    .hamburger {
      display: none;
    }
  }
}
