.testimonials {
  h2 {
    text-align: center;
    font-size: 3.2rem;
  }

  &_card {
    margin-top: 3rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 90vw);
    grid-gap: 3rem;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-align: start;

    &::-webkit-scrollbar {
      display: none;
      background: none;
    }

    cursor: pointer;
    .card {
      background: $Very-Light-Gray;
      text-align: center;
      padding: 5rem 1.5rem;
      margin: 5rem 0 2rem;
      position: relative;
      width: 100%;

      h3 {
        margin: 2rem 0;
      }

      img {
        height: 7rem;
        width: 7rem;
        position: absolute;
        top: -3rem;
        transform: translateX(-50%);
      }

      p {
        max-width: 95%;
        margin: auto;
      }
    }
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    .active {
      background: $Bright-Red;
    }

    .dot {
      height: 10px;
      width: 10px;
      border: 1px solid $Bright-Red;
      border-radius: 50%;
      cursor: pointer;
    }

    .dot:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .btn {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .testimonials {
    &_card {
      grid-template-columns: repeat(4, 50vw);
    }
  }
}

@media screen and (min-width: 1024px) {
  .testimonials {
    h2 {
      font-size: 3.5rem;
    }

    &_card {
      grid-template-columns: repeat(4, 30vw);
    }
  }
}
